<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{styleSheet.css}" rel="stylesheet" />
    <title>Edit Organization</title>
</head>

<body>
<header>
    <h2>SUPER HERO SIGHTINGS TRACKER</h2>
</header>
<nav>
    <a href="index">
        <button>Home</button>
    </a>
    <a href="heroes">
        <button>Heroes</button>
    </a>
    <a href="powers">
        <button>Powers</button>
    </a>
    <a href="organizations">
        <button>Organizations</button>
    </a>
    <a href="sightings">
        <button>Sightings</button>
    </a>
    <a href="locations">
        <button>Locations</button>
    </a>
</nav>

<div class="container">

    <div class="row m-4 border border-dark">
        <div class="col-3 text-center m-3">
            <span class="h3">Edit Organization</span>
        </div>
        <div class="col-7 text-center m-3">
            <form action="organizationEdit" method="POST">
                <div class="form-group row">
                    <label for="name" class="col-3 col-form-label">
                        Name</label>
                    <div class="col-9">
                        <input type="text" name="name" id="name"
                               class="form-control" th:value="${organization.name}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description" class="col-3 col-form-label">
                        Description</label>
                    <div class="col-9">
                        <input type="text" name="description" id="description"
                               class="form-control"  th:value="${organization.description}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="contact" class="col-3 col-form-label">
                        Contact</label>
                    <div class="col-9">
                        <input type="text" name="contact" id="contact"
                               class="form-control"  th:value="${organization.contact}"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="heroes" class="col-3 col-form-label">
                        Heroes(s)</label>
                    <div class="col-9">
                        <select multiple id="heroes" name="heroId"
                                class="form-control" >
                            <div th:if="${not #lists.isEmpty(organization.heroesOfOrg)}">
                            <option th:each="hero : ${heroes}"
                                    th:value="${hero.heroId}"
                                    th:text="${hero.name}"
                                    th:selected="${organization.HeroesOfOrg.contains(hero)}">
                            </div>
                            <div th:if="${#lists.isEmpty(organization.heroesOfOrg)}">
                                <option th:each="hero : ${heroes}"
                                        th:value="${hero.heroId}"
                                        th:text="${hero.name}">
                            </div>

                                Name</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" name="id" th:value="${organization.organizationId}"/>
                <button type="submit" class="btn btn-primary">
                    Update Organization</button>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWjIzqe82Uq9976cTYdielI37MIzAdF0k&callback=initMap&libraries=&v=weekly"
        async
></script>
</body>
</html>