<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link th:href="@{styleSheet.css}" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheet.css">
    <title>Sightings</title>
</head>

<body>
<header>
    <h2>SUPER HERO SIGHTINGS TRACKER</h2>
</header>
<nav>
    <a href="index">
        <button>Home</button>
    </a>
    <a href="heroes">
        <button>Heroes</button>
    </a>
    <a href="powers">
        <button>Powers</button>
    </a>
    <a href="organizations">
        <button>Organizations</button>
    </a>
    <a href="sightings">
        <button>Sightings</button>
    </a>
    <a href="locations">
        <button>Locations</button>
    </a>
</nav>

<div class="container">
    <div class="row m-4 border border-dark">
        <div class="col-6 text-right"><strong>ID</strong></div>
        <div class="col-6 text-left">
            <span th:text="${sighting.sightingId}">display id</span>
        </div>

        <div class="col-6 text-right"><strong>Date</strong></div>
        <div class="col-6 text-left">
            <span th:text="${sighting.sightingDate}">display date</span>
        </div>
        <div class="col-6 text-right"><strong>Address</strong></div>
        <div class="col-6 text-left">
            <span th:text="${sighting.location.address}">display address</span>
        </div>
        <div class="col-6 text-right"><strong>Latitude</strong></div>
        <div class="col-6 text-left">
            <span th:text="${sighting.location.latitude}">display latitude</span>
        </div>
        <div class="col-6 text-right"><strong>Longitude</strong></div>
        <div class="col-6 text-left">
            <span th:text="${sighting.location.longitude}">display longitude</span>
        </div>
        <div class="col-6 text-right"><strong>Heroes</strong></div>
        <div class="col-6 text-left">
                    <span th:each="hero : ${sighting.getHeroes()}">
                        <span th:text="${hero.name}">
                            display heroes</span><br/>
                    </span>
        </div>
        <div class="col-6 text-right"><strong>Description</strong></div>
        <div class="col-6 text-left">
            <span th:text="${sighting.description}">display description</span>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWjIzqe82Uq9976cTYdielI37MIzAdF0k&callback=initMap&libraries=&v=weekly"
        async
></script>
</body>
</html>