<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="stylesheet.css">
  <title>Edit Heroes</title>
</head>

<body>
<header>
  <h2>SUPER HERO SIGHTINGS TRACKER</h2>
</header>
<nav>
  <a href="heroes.html">
    <button>Heroes</button>
  </a>
  <a href="powers.html">
    <button>Powers</button>
  </a>
  <a href="organizations.html">
    <button>Organizations</button>
  </a>
  <a href="sightings.html">
    <button>Sightings</button>
  </a>
  <a href="locations.html">
    <button>Locations</button>
  </a>
</nav>

<div class="container">

  <div class="row m-4 border border-dark">
    <div class="col-3 text-center m-3">
      <span class="h3">Edit Hero</span>
    </div>
    <div class="col-7 text-center m-3">
      <form action="editHero" method="POST">
        <div class="form-group row">
          <label for="name" class="col-3 col-form-label">
            Name</label>
          <div class="col-9">
            <input type="text" name="name" id="name"
                   class="form-control" th:value="${hero.name}"/>
          </div>
        </div>
        <div class="form-group row">
          <label for="description" class="col-3 col-form-label">
            Description</label>
          <div class="col-9">
            <input type="text" name="description" id="description"
                   class="form-control"  th:value="${hero.description}"/>
          </div>
        </div>
        <input type="hidden" name="id" th:value="${hero.getHeroId()}"/>
        <button type="submit" class="btn btn-primary">
          Update Hero</button>
      </form>
    </div>

</div>

</body>
</html>