<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="stylesheet.css">
    <title>Locations</title>
</head>

<body>
<header>
    <h2>SUPER HERO SIGHTINGS TRACKER</h2>
</header>
<nav>
    <a href="heroes.html">
        <button>Heroes</button>
    </a>
    <a href="Menu.html">
        <button>Powers</button>
    </a>
    <a href="organizations.html">
        <button>Organizations</button>
    </a>
    <a href="sightings.html">
        <button>Sightings</button>
    </a>
    <a href="locations.html">
        <button>Locations</button>
    </a>
</nav>

<div class="container">
    <div class="row m-4 border border-dark">
        <div class="col text-center m-3">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Description</th>
                    <th>Address</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="location : ${locations}">
                    <td th:text="${location.getLocationId()}">Location ID</td>
                    <td th:text="${location.getName()}">Location Name</td>
                    <td th:text="${location.getLatitude()}">Latitude</td>
                    <td th:text="${location.getLongitude()}">Longitude</td>
                    <td th:text="${location.getDescription()}">Location Description</td>
                    <td th:text="${location.getAddress()}">Location Address</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>